.nav{
  transition: .3s;
  -webkit-animation: navbar 1s  infinite ease-in-out;
  animation: navbar 1s alternate  ease-in-out;
height: 50px;
background: rgba(255, 255, 255, 0.849);
backdrop-filter: blur(3px);
}

@keyframes navbar {
  0% {
    opacity:0;
    transform: translateY(-10px) rotate3d(0, 0, 0, 
    0deg
    );
  }
  100% {
  opacity: 1;
  transform: translateY(0) rotate3d(0, 0, 0, 
  0deg
  );
  }
  }

  .nav_links{
    color:rgb(0, 0, 0);
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bolder;
  }

  .nav_links:hover{
    color:#0011ff;
    font-weight: bold;
  }

  .active{
    color:#0011ff;
  }

  .link_icons{
    color:rgb(94, 94, 94);
    transition:.3s;
    cursor:pointer;
    font-size: .8rem;
  }

  .link_icons:hover{
    color: black;
    transition: .3s;
  }

  .links_icons_footer{
    color:rgb(94, 94, 94);
    transition:.3s;
    cursor:pointer;
    font-size: .8rem;
  }

  .links_icons_footer:hover{
    color: rgb(231, 231, 231);
    transition: .3s;
  }


  .responsive_container{
 transition: .3s;
  -webkit-animation: navbar 0.5s   ease-in-out;
  animation: navbar 0.5s alternate  ease-in-out;
  }

  .contacts{
    background-color: #008bfc;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%), 0 1px 2px rgb(28 35 139 / 10%), 0 2px 5px rgb(41 52 204 / 20%);
    padding: 8px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 550;
    border: none;
    cursor:pointer
  }
  .contacts:active{
    background:#2a36d6 
  }


  /* landingpage css */

  .landingPageImg{
   background: url('../public/travel2.jpg') no-repeat ;
   width:100vw;
height:102vh;
background-position: center;
background-size: cover;
max-height: 900px;
  }

  .pageTitle{
font-weight: bold;
font-size: 2.5rem;
max-width: 550px;
margin-left: 10%;
line-height: 3.6rem;
  }

  @media only screen and (max-width: 542px) {
    .landingPageImg{
      background: url('../public/travel2.jpg') no-repeat ;
      width:100vw;
   height:60vh;
   background-position: center;
   background-size: cover;
   min-height: 300px;
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-name: beginAnimate;
   animation-name: beginAnimate;
   will-change: opacity, transform;
   -webkit-animation-delay: .2s;
   animation-delay: .2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
   animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
     }

     @keyframes beginAnimate {
      0% {
        opacity: 0;
        transform: translateY(120px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
     }


     .pageTitle{
      
      font-weight: bold;
      font-size: 1.5rem;
      max-width: 400px;
      margin-left: 6%;
      line-height: 2.3rem;
      color:white;
      -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-name: beginAnimate;
   animation-name: beginAnimate;
   will-change: opacity, transform;
   -webkit-animation-delay: .2s;
   animation-delay: .2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
   animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
     }
  }

  .explore_btn{
    margin-right: 3px;
    transition: .3s;
    font-weight: bold;
  }

  .explore_btn:hover{
    margin-right: 9px;
    transition: .3s;
  }



  