.nav{
  transition: .3s;
  -webkit-animation: navbar 1s  infinite ease-in-out;
  animation: navbar 1s alternate  ease-in-out;
height: 50px;
background: rgba(255, 255, 255, 0.849);
backdrop-filter: blur(3px);
}

@keyframes navbar {
  0% {
    opacity:0;
    transform: translateY(-10px) rotate3d(0, 0, 0, 
    0deg
    );
  }
  100% {
  opacity: 1;
  transform: translateY(0) rotate3d(0, 0, 0, 
  0deg
  );
  }
  }

  .nav_links{
    color:rgb(0, 0, 0);
    font-size: 0.8rem;
    cursor: pointer;
    font-weight: bolder;
  }

  .nav_links:hover{
    color:#0011ff;
    font-weight: bold;
  }

  .active{
    color:#0011ff;
  }

  .link_icons{
    color:rgb(94, 94, 94);
    transition:.3s;
    cursor:pointer;
    font-size: .8rem;
  }

  .link_icons:hover{
    color: black;
    transition: .3s;
  }

  .links_icons_footer{
    color:rgb(94, 94, 94);
    transition:.3s;
    cursor:pointer;
    font-size: .8rem;
  }

  .links_icons_footer:hover{
    color: rgb(231, 231, 231);
    transition: .3s;
  }


  .responsive_container{
 transition: .3s;
  -webkit-animation: navbar 0.5s   ease-in-out;
  animation: navbar 0.5s alternate  ease-in-out;
  }

  .contacts{
    background-color: #008bfc;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 10%), 0 1px 2px rgb(28 35 139 / 10%), 0 2px 5px rgb(41 52 204 / 20%);
    padding: 8px 20px;
    border-radius: 3px;
    color: white;
    font-weight: 550;
    border: none;
    cursor:pointer
  }
  .contacts:active{
    background:#2a36d6 
  }


  /* landingpage css */

  .landingPageImg{
   background: url('../public/travel2.jpg') no-repeat ;
   width:100vw;
height:102vh;
background-position: center;
background-size: cover;
max-height: 900px;
  }

  .pageTitle{
font-weight: bold;
font-size: 2.5rem;
max-width: 550px;
margin-left: 10%;
line-height: 3.6rem;
  }

  @media only screen and (max-width: 542px) {
    .landingPageImg{
      background: url('../public/travel2.jpg') no-repeat ;
      width:100vw;
   height:60vh;
   background-position: center;
   background-size: cover;
   min-height: 300px;
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-name: beginAnimate;
   animation-name: beginAnimate;
   will-change: opacity, transform;
   -webkit-animation-delay: .2s;
   animation-delay: .2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
   animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
     }


     @keyframes beginAnimate {
      0% {
        opacity: 0;
        transform: translateY(120px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
     }


     .pageTitle{
      
      font-weight: bold;
      font-size: 1.5rem;
      max-width: 400px;
      margin-left: 6%;
      line-height: 2.3rem;
      color:black;
      -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-name: beginAnimate;
   animation-name: beginAnimate;
   will-change: opacity, transform;
   -webkit-animation-delay: .2s;
   animation-delay: .2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
   animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1)
     }
  }

  .explore_btn{
    margin-right: 3px;
    transition: .3s;
    font-weight: bold;
  }

  .explore_btn:hover{
    margin-right: 9px;
    transition: .3s;
  }


  .animated_arrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    width:20px;
    margin: auto;
    position: relative;
    top:30px;
    cursor:pointer
  }
  
  
  .firstChild{
    color:#ffffff;
    animation: fade 3s  infinite;
  }
  
  
  .secondChild,.thirdChild{
    
    animation: fade 3s  infinite;
  }
  .secondChild{
    color:#ffffffd0
  }
  .thirdChild{
    color:#ffffff60
  }
  
  
  
  @keyframes fade{
    0% {
      opacity:0;
      transform: translateY(-10px) rotate3d(0, 0, 0, 
      0deg
      );
    }
    100% {
    opacity: 1;
    transform: translateY(0) rotate3d(0, 0, 0, 
    0deg
    );
    }
  }

  /* popular destination */
  .left_whyus{
    transition: .3s;
      -webkit-animation: float 3s alternate infinite ease-in-out;
      animation: float 3s alternate infinite ease-in-out;
  }

  .left_whyus>div>div{
    border-radius: 15px;
    margin: 20px;
    height: 150px;
    padding: 20px;
  }


  @keyframes float {
    0% {
      transform: translateY(10px) rotate3d(0, 0, 0, 
    0deg
    );
    }
    100% {
      transform: translateY(-10px) rotate3d(0, 0, 0, 
    0deg
    );
    }
    }

    .slider_img{
      transition: .3s !important;
      cursor: pointer;
    }

    .slider_img:hover{
      transition: .3s;
      transform: scale(1.1);
      filter: brightness(0.6);
    }

    .what_icon{
      transition: .3s;
      -webkit-animation: whatAnimation 2s alternate infinite ease-in-out;
      animation: whatAnimation 2s alternate infinite ease-in-out;
    }

    @keyframes whatAnimation {
      0% {
        transform: translateY(5px)
      }
      100% {
        transform: translateY(-5px) rotate(50deg)
        scale(1.5)
      }
      }


      .goLeft{
        margin-left: 10%;
      }

      .subTitle{
        font-size: 2.8rem;
        text-align: center;
        font-weight: bold;
      }

      /* fontWeight:'bold',fontSize:width>500?'2.5rem':'1.8rem',textAlign:'center',position:'relative',left:width<500?'-20px':'0' */

      @media only screen and (max-width: 542px){
.goLeft{
 margin-left: 6%; 
}
.subTitle{
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  position: relative;
  left: -20px;
}
      }

      

      .services_container{
        padding: 30px;
       box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.04);
       -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.04);
       -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.04);
       margin: 30px;
       max-width: 300px;
       cursor: pointer;
       border: 2px solid rgba(0, 0, 0, 0);
       border-radius: 15px;
       transition: .3s;
       ;
      }
      .services_container:hover{
      transform: scale(1.1);
        transition: .3s;
      }

      .services_icon{
        padding: 10px;
        border-radius: 15px;
        font-size: 70px !important;
      }

      .services_title{
        font-weight: bold;
        font-size: 1.2rem;
      }
  
      .services_subTitle{
        width: 95%;
        max-width: 300px;
        font-size: 0.8rem;
      }

      .services_button{
        border: none;
        outline: none;
        border-radius: 20px;
        border: 2px solid lightgray;
        padding: 5px 20px;
        background: white;
        cursor: pointer;
        margin-top: 12px;
      }

      .services_button:hover{
        background:#008bfc;
        color: white;
        border-color: #008bfc;
        transition: .3s;
      }



  